<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<title>项目信息</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=8,9,10">   

  <link rel="stylesheet" type="text/css" href="../../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/iconfont-style.css">
  <style>
    p{
      text-align: center;
      display: inline-block;
      width: 200px;
    }
   /*  默认iconfont，可改字体大小和颜色  */
    p > i.iconfont{
      font-size: 36px;
      color: #666;
    }
    p > i.iconfont:hover,
    a:hover{
      color: #1565c0;
      cursor: pointer;
    }
    a{
      color: #007ddb;
    }
  </style>
</head>
<body>
<div>
<p><i class="iconfont icon-youjian"></i><br/>用CLASS名写iconfont<br/> <a href="demo_fontclass.html" target="_black">所有图标名称</a></p>
<p><i class="iconfont">&#xe600;</i><br/>用HTML写iconfont <br/><a href="demo_unicode.html" target="_black">所有图标名称</a></p> 
</div>

</body>
</html>    