<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<title>fixed悬浮</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=8,9,10">   
  <link rel="stylesheet" type="text/css" href="../../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/fixed-style.css">
</head>
<body>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="fixed-warp">
  <a href="">返回头部</a>
  <a href="">1</a>
  <a href="">2</a>
</div>
</body>
</html>    