<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<title>项目信息</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=8,9,10">   
  <link rel="stylesheet" type="text/css" href="../../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/page-style.css">
</head>
<body>
<div class="page-warp">
  <div class="page-list">
    <a href="">首页</a>
    <a href="">上一页</a>
    <a class="cur" href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">5</a>
    <span>...</span>
    <a href="">100</a>
    <a href="">101</a>
    <a href="">102</a>
    <a href="">103</a>
    <span>跳到第<em><input type="text"></em>页</span>
    <span>共<b>150</b>页</span>
    <a href="">尾页</a>
  </div>
</div>

</body>
</html>    