<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<title>button按钮</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=8,9,10">   
  <link rel="stylesheet" type="text/css" href="../../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/button-style.css">
</head>
<body>
  <div class="butlist">
    <h2>左侧按钮</h2>
    <div class="g-but">
      <a class="but-radius" href="">圆角按钮</a>
      <a href="">直角按钮</a>
    </div>
  </div>
  <div class="butlist">
    <h2>右侧按钮</h2>
    <div class="g-but g-rbut">
      <a class="but-radius" href="">圆角按钮</a>
      <a href="">直角按钮</a>
    </div>
  </div>
  <div class="butlist">
    <h2>中间按钮</h2>
    <div class="g-but g-cbut">
      <a href="">默认</a>
      <a class="but-radius" href="">but-radius</a>
      <a class="but-radius g-colorred-but" href="">g-colorred-but</a>
      <a class="g-colorgrey-but" href="">g-colorgrey-but</a>
    </div>
  </div>
</body>
</html>    