<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<title>button按钮</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=8,9,10">   
  <link rel="stylesheet" type="text/css" href="../../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="../../styles/index.css">
</head>
<body>

<div class="g-main">
  <div class="button-tip">
    <div>
      <h3>Html部分</h3>
      <table>
        <tr>
          <td class="blob-num" data-line-number="1"></td>
          <td class="blob-code">
            <pre>&lt;!DOCTYPE html&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="2"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">html</span> <span class="pl-e">lang</span>=<span class="pl-s"><span class="pl-pds">"</span>en<span class="pl-pds">"</span></span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="3"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">head</span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="4"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">meta</span> <span class="pl-e">charset</span>=<span class="pl-s"><span class="pl-pds">"</span>UTF-8<span class="pl-pds">"</span></span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="5"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">title</span>&gt;Document&lt;/<span class="pl-ent">title</span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="6"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s"><span class="pl-pds">"</span>http://cdn.bootcss.com/jquery/1.12.2/jquery.min.js<span class="pl-pds">"</span></span>&gt;<span class="pl-s1">&lt;</span>/<span class="pl-ent">script</span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="7"></td>
          <td class="blob-code">&lt;/<span class="pl-ent">head</span>&gt;</td>
        </tr>
      </table>
    </div>
    <div>
      <h3>Css部分</h3>
      
      <table>
        <tr>
          <td class="blob-num" data-line-number="1"></td>
          <td class="blob-code">
            <pre>&lt;!DOCTYPE html&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="2"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">html</span> <span class="pl-e">lang</span>=<span class="pl-s"><span class="pl-pds">"</span>en<span class="pl-pds">"</span></span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="3"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">head</span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="4"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">meta</span> <span class="pl-e">charset</span>=<span class="pl-s"><span class="pl-pds">"</span>UTF-8<span class="pl-pds">"</span></span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="5"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">title</span>&gt;Document&lt;/<span class="pl-ent">title</span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="6"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s"><span class="pl-pds">"</span>http://cdn.bootcss.com/jquery/1.12.2/jquery.min.js<span class="pl-pds">"</span></span>&gt;<span class="pl-s1">&lt;</span>/<span class="pl-ent">script</span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="7"></td>
          <td class="blob-code">&lt;/<span class="pl-ent">head</span>&gt;</td>
        </tr>
      </table>
    </div> 
    <div>
      <h3>Js部分</h3>
      
      <table>
        <tr>
          <td class="blob-num" data-line-number="1"></td>
          <td class="blob-code">
            <pre>&lt;!DOCTYPE html&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="2"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">html</span> <span class="pl-e">lang</span>=<span class="pl-s"><span class="pl-pds">"</span>en<span class="pl-pds">"</span></span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="3"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">head</span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="4"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">meta</span> <span class="pl-e">charset</span>=<span class="pl-s"><span class="pl-pds">"</span>UTF-8<span class="pl-pds">"</span></span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="5"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">title</span>&gt;Document&lt;/<span class="pl-ent">title</span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="6"></td>
          <td class="blob-code">
            <pre>&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s"><span class="pl-pds">"</span>http://cdn.bootcss.com/jquery/1.12.2/jquery.min.js<span class="pl-pds">"</span></span>&gt;<span class="pl-s1">&lt;</span>/<span class="pl-ent">script</span>&gt;</pre>
          </td>
        </tr>
        <tr>
          <td class="blob-num" data-line-number="7"></td>
          <td class="blob-code">&lt;/<span class="pl-ent">head</span>&gt;</td>
        </tr>
      </table>
    </div> 
    <div class="g-but"><a href="button-html.html" target="_black">预览</a></div>
  </div>
</div>
</body>
</html>    