<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<title>comment评论</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=8,9,10">   
  <link rel="stylesheet" type="text/css" href="../../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/comment-style.css">
</head>
<body>

	<div class="comment-warp">
		<div class="comment-pic">
			<img src="http://imgsrc.baidu.com/image/c0%3Dshijue1%2C0%2C0%2C294%2C40/sign=971de28cc1ef7609280691dc46b4c9b9/4a36acaf2edda3cce7305e310be93901203f92cf.jpg" alt="用户名字">
		</div>
		<div class="comment-main">
			<div class="comment-uesr">
				<span class="comment-uesrname">用户名字</span>
				<span class="comment-time">15小时前</span>
			</div>
			<div class="comment-content">
				过去的五年，展示了我们党治国理政的高超智慧和卓越能力、人民群众生产生活的新变化和实实在在的获得感幸福感！十九大的战略布局，指明了更加光明的前景，紧跟习主席、紧跟党中央，坚定中国特色社会主义道路自信、理论自信、制度自信、文化自信，砥砺奋进、再接再厉，深入推进伟大事业，为实现“两个一百年”奋斗目标、实现中华民族伟大复兴的中国梦继续奋斗！
			</div>
			<div class="comment-reply-warp">
				<div class="comment-reply-title"><i>更多回复</i><p></p></div>
				<div class="comment-reply-list">
					<div class="comment-reply-content">
						<span>用户名<i>回复</i>用户名：</span>习主席，你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了，你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了你辛苦了aaaaaasssssssssssssssfewfwefwf54655555555555555777777777777777777777256456452353453453453145234123412341234123412341234123154354765768678678356！
					</div>
					<div class="comment-reply-poerate"><a href="">回复</a><i>·</i><span>刚刚</span></div>
				</div>
				<div class="comment-reply-list">
					<div class="comment-reply-content">
						<span>用户名：</span>习主席，你辛苦了！
					</div>
					<div class="comment-reply-poerate"><a href="">回复</a><i>·</i><span>刚刚</span></div>
				</div>
				<div class="comment-reply-list">
					<div class="comment-reply-content">
						<span>用户名：</span>习主席，你辛苦了！
					</div>
					<div class="comment-reply-poerate"><a href="">回复</a><i>·</i><span>刚刚</span></div>
					<div class="comment-reply">
						<div class="comment-reply-textarea">
							<textarea name="" id="" cols="30" rows="10"></textarea>
						</div>
						<a class="comment-reply-btn" href="">回复</a>
					</div>
				</div>
				<div class="comment-reply-list">
					<div class="comment-reply-content">
						<span>用户名：</span>你辛苦了！
					</div>
					<div class="comment-reply-poerate"><a href="">回复</a><i>·</i><span>刚刚</span></div>
				</div>
			</div>
			<div class="comment-operate">
				<a href=""><i></i>回复</a>
				<a href=""><i></i>删除</a>
			</div>
			<div class="comment-reply">
				<div class="comment-reply-textarea"><textarea name="" id="" cols="30" rows="10"></textarea></div>
				<a class="comment-reply-btn" href="">回复</a>
			</div>
		</div>
	</div>

</body>
</html>    