<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<title>项目信息</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=8,9,10">   
  <link rel="stylesheet" type="text/css" href="../../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/search-style.css">
  <link rel="stylesheet" type="text/css" href="../iconfont/styles/iconfont-style.css">
</head>
<body>

<div class="search-warp">
  <div><input type="text" placeholder="搜索...."></div>
  <i class="iconfont icon-fangdajing"></i>
  <ul>
    <li><a href="">一杯敬朝阳，一杯敬月光</a></li>
    <li class="cur"><a href="">一杯敬故乡，一杯敬远方</a></li>
    <li><a href="">一杯敬明天，一杯敬过往</a></li>
    <li><a href="">一杯敬自由，一杯敬死亡</a></li>
    <li><a href="">美好的一天，糟糕的一天</a></li>
    <li><a href="">一些我们终将逝去的</a></li>
    <li><a href="">一杯敬故乡，一杯敬远方</a></li>
    <li><a href="">一杯敬明天，一杯敬过往</a></li>
    <li><a href="">一杯敬自由，一杯敬死亡</a></li>
    <li><a href="">美好的一天，糟糕的一天</a></li>
    <li><a href="">一些我们终将逝去的</a></li>
    <li><a href="">一杯敬故乡，一杯敬远方</a></li>
    <li><a href="">一杯敬明天，一杯敬过往</a></li>
    <li><a href="">一杯敬自由，一杯敬死亡</a></li>
    <li><a href="">美好的一天，糟糕的一天</a></li>
    <li><a href="">一些我们终将逝去的</a></li>
    <li><a href="">一杯敬故乡，一杯敬远方</a></li>
    <li><a href="">一杯敬明天，一杯敬过往</a></li>
    <li><a href="">一杯敬自由，一杯敬死亡</a></li>
    <li><a href="">美好的一天，糟糕的一天</a></li>
    <li><a href="">一些我们终将逝去的</a></li>
  </ul>
</div>
</body>
</html>    