@charset "utf-8";
.tab-warp{
	margin: 20px;
}
.tab-top{
	position: relative;
}
.tab-top > *{
	display: inline-block;
	padding: 2px 15px;
	background: #fff;
	border-bottom: 1px solid #ccc;
	font: 14px/1.8 '微软雅黑';
	cursor: pointer;
}
.tab-top > *.cur{
	border-width: 1px 1px 0 1px;
	border-color: #1e88e5;
	border-style: solid;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid #fff;
}
.tab-main{
	border: 1px solid #ccc;
	margin-top: -1px;
	padding: 20px;
}